body { font-family: sans-serif; padding: 20px; background-color: lightgrey;}


.list-operator{background: white; padding: 20px; border-radius: 8px;}


.results{display: none; grid-template-columns: 1fr 1fr; white-space: pre-line; line-height:150%;
        background-color: lightgreen; margin-top: 20px; border-radius: 8px; width: 350px;}


.str{margin-left: 10%; margin-right: 10%;}


.print-res{color: blue; background-color: white; border-radius: 8px;
        outline-style: auto; outline-width: 5px; padding: 10px 25px}
        

@media screen and (max-width: 450px){
        .results{grid-template-columns: 1fr; width: auto; min-width: none;}
}