.error_message {
  color: red;
}

.posts_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pages_block {
  margin-top: 15px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.loading_message {
  color: white;
}
